.icon{
    height: 30px;
}

body{
    padding: 0;
    margin: 0;
}

.left{

    display: flex;
    white-space: nowrap;
    gap: 1.5em;
    align-items: center;
    color:#1a1a1f;
    font-size: 13px;
    list-style: none;
}

#azure{
    font-size: 20px;
    font-weight: 550;
}

.right{
    display: flex;
    gap: 1.5em;
    white-space: nowrap;
    
font-size: 13px;
    list-style: none;
    align-items: center;
}

.nav{
    display: flex;

    margin-top: 1em;
    justify-content: space-between;
    padding: 0em 1em 0em 0em;
}
.btn{
    background-color: #89c402;
    border-radius: 7px;
    border-style: none;
    height: 32px;
    font-weight: bolder;
    white-space: nowrap;
    width:7em;
}

.srh{
    height: 30px;
    width: 8em;
    border: solid 1px rgb(0,0,0,0.6);
    border-radius: 7px;
}

.srh-icon{
    position: relative;
    right: 4em;
}


.list-icon{
    display: none;
}

.content{
background-size: cover;
display: flex;
margin-top: 1.5em;
  background-position: 100%;
    background-image: url("/microsoft.webp");
}

.main-head{
    font-size: 3rem;
    font-weight: 600;
    white-space: nowrap;
}
.sub-content{
    display: flex;
    gap: 1em;
    line-height: 2em;
    height: 30em;
justify-content: center;
    flex-direction: column;
    width: 30em;
    padding-left: 4em;
}


.head2{
    font-size: 1.3em;
    font-weight: 400;
}

.btns{display: flex;
gap: 1em;}

.btn1{background-color: #0078D4;
color: antiquewhite;
height: 3em;
width: 8em;
font-weight:bolder;

border-radius: 10px;
border-style: none;}

.btn2{
    height: 3em;
    width:10em;
    color: #243a5e;
    font-weight:bolder;

    border-radius: 10px;
    border-style: groove;
    border-color: 2px #243a5e;
}




.btn1,.btn2:hover{cursor: pointer;}

.left,.right:hover{cursor: pointer;

}

li:hover{text-decoration: underline;}




.section3{display: flex;
    background-color: #fff;
    position: sticky;
list-style: none;
justify-content: space-between;
padding: 2em;
font-size: 13px;
}

.secL{display: flex;
align-items: center;
gap: 3em;}

.section4{background-image: url(/section_bg.png);
background-size:cover;
background-position: 100%;
display: flex;
flex-direction: column;}



.imgs{
    display: flex;
    gap: 3em;
}

.imgs>div{
    display: flex;


    background: #fff;
    height: 30em;


}
.imgs{
    display: flex;
    flex-direction: row;
}

.secimg1,.secimg2,.secimg3{
    width: 27rem;
    height: 15em;
    border-radius: 15px;
}

.subsec4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgs>div{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding-left: 0.6em;
    gap: 1em;
    width: 28em;
    padding-top: 0.5em;
}

.sec4-head{font-size: 30px;
font-weight: 700;
padding: 2em;}

.sec4-head2{
    font-size: 16px;
         
}

.sec4-head1{
    font-size: 22px;
    font-weight: 600;
}

.arrow{background-color: #0078D4;
    margin-left: 1em;
    margin-top: 4em;
width: fit-content;
border-radius: 10px;
color: white;}


.section5>div{display: flex;}

.sec5-head{
    font-size: 28px;
    font-weight: 600;
    padding: 2em;

}

.list{display: flex;
    gap: 2em;
    
    margin-left: 4em;
list-style: none;}

.list>li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 2.5em;
    border-radius: 20px;

}
.list-2,.list-3,.list-4,.list-5{
    background-color: #e6f2fb;
}

.list-1{background-color: #0078D4;}
/* 
.container{
  display: flex;
  flex-direction: column;
    width: 20em;
 gap: 3em;
 margin-left: 5em;
 margin-top: 2em;
 color:#243a5e;
 font-size: 20px;
 font-weight: 500;
} */


.line{
    background-color:rgb(0,0,0,0.6);
    height: 0.5px;
}
.left1{
display: flex;
gap: 4em;
}

.left1>div{
    display: flex;
    flex-direction: column;
}

.container{display: flex;
    margin-top: 3em;
justify-content: space-around;
gap: 3em;}
.container>div{
display: flex;
flex-direction: column;
gap: 2em;
color: #243a5e;
font-size: 20px;
}

.imgC{border-radius: 20px;}

.section4{
    padding-left: 6rem;
    padding-right: 5rem;
}



.sec5img{

    position: relative;
    right: 4em;
    border-radius: 20px;
    height: 45em;
    width: 30em;
    margin-left: 3em;
}



.sec5nimg{
    margin-left: 1em;
margin-top: 2em;
width: 2em;
height: 30px; 
border-color: rgb(0,0,0.4,0.8); 
border-style: groove;
}


.section6{
    display: flex;
    gap: 4em;
    position: relative;
    margin-top: 3em;
right: 6em;
}


.section6>div{display: grid;
    gap: 8em;
    justify-content: center;
grid-template-columns: 250px 250px 250px;}

.grid1,.grid2,.grid3,.grid4,.grid5,.grid6{


    display: flex;
    border-radius: 20px;
    gap: 3em;
    flex-direction: column;
    height: 25em;
    width: 20em;
    background-color: #fff;
}

.spangrid1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.spangrid2{
    font-size: 20px;
    font-weight: 500;
    padding: 1em;

}

.img{background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Featured-Promo-DevBox-new?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1464&hei=2091&qlt=95&fit=constrain);
background-size: cover;
background-position: inherit;
display: flex;
align-items: center;
justify-content: center;
position: relative;
border-radius: 20px;
height: 55em;
width: 30em;
right: 0.7em;
margin-left: 3em;}

.imgspan1{color: white;
    font-size: larger;
text-align: center;}

.xplore{
    position: relative;
    left: 1em;
    text-decoration: underline;
}

.section7{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Resources-bannerBG-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=85);
height: 80em;
width: 100%;
    margin-top: 3em;
    display: flex;
    gap: 3em;
    flex-direction: column;
    align-items: center;

    background-size: cover;
    background-position: center;
}

.transform{
    font-size: 30px;
    font-weight: 700;
}



.section7>div{display: flex;
    /* background-color: #fff; */
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
list-style: none;
gap: 3em;}

.res{color:#0078D4 ;}

li{

    font-size: 14px;
}

.sec7-head{

    font-size: 30px;
    font-weight: bold;
}

.sec7-img{border-radius: 20px;}

.section7-img{background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Regions-banner-2x?resMode=sharp2&amp;op_usm=1.5,0.65,15,0&amp;wid=3200&amp;hei=792&amp;qlt=85&amp;fit=constrain") ;
height:40em;
width: 100em;
background-size: cover;
background-position: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.res{margin-top: 3em;}

.sec7-img1{height: 50%;
    justify-content: center;
width: 100%;}

.span-sec7{

    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 16em;
}
.azure{
    font-weight: 600;
font-size: 40px;
color: #fff;}

.azure-sub{
    font-size: 20px;
    color: #fff;
}
.sec7-btn{position: relative;
width: 10em;
font-size: 20px;
    background-color: transparent;
border-radius: 10px;
border-color: #fff;
color: #e6f2fb;}

.sec7-btn:hover{cursor: pointer;}


.get{
    font-size: 30px;
    font-weight: 600;
}


.section8{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4em;
}


.bg-blue{
display: flex;
align-items: center;
    background:linear-gradient(122deg, #cbe6f4 -18.47%, #8dc8e8 50.34%, #c5b4e3 118.47%);
    height: 200px;
    width:80%;
    margin-top: 2em;
    border-radius: 20px;
    margin-left: 8em;
}

.sec7-list{background-color: #fff;
height: 10em;
font-size: 20px;
}

.car{display: flex;
    margin-top: 2em;
    border-radius: 20px;
justify-content: space-between;}
.logo-img{
    height: 10em;
    width: 10em;
}

.car>div{
    display: flex;
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
    flex-direction: column;
    border-style: groove;
    width:100%;
    gap: 1em;
    margin-left: 5em;
    list-style: none;

    box-shadow: 1px 5px  rgb(0,0,0.6,0.4);
}
.car-img{width: 45em;

    border-radius: 0px 20px 20px 0px;
margin-right: 3em;}

.car-span{
    font-size: 25px;
    padding: 1em;
}
.car-span2{margin-left: 1em;
    font-size: 14px;
color: #0078D4;}

.car-span3{

    font-size: 18px;
    font-weight: 400;
    margin-left: 1em;
    color: black;
}

.btn11{background-color: #0078D4;
    color: antiquewhite;
    height: 3em;
    width: 8em;
    margin-left: 1em;
    font-weight:bolder;
    margin-bottom: 2em;
    
    border-radius: 10px;
    border-style: none;}


    .logos{background-color:whitesmoke;
        padding: 3em;
        box-shadow: 4px 20px 5px rgb(0,0,0.6,0.4);
        margin-top: 2em;
        width: 70%;
        gap: 5em;
        align-items: center;
        justify-content: center;
        margin-left: 14em;
        border-radius: 20px;
        display: flex;
    height: 3em;}

    .logos>img{height: 60px;
    width: 100px;}

    .logos>img:hover{
        cursor: pointer;
        text-decoration:underline;
    }

    .logos:hover{text-decoration: underline;}

    .last{background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/NextStep-BG-Desktop-2x?resMode=sharp2&amp;op_usm=1.5,0.65,15,0&amp;wid=1600&amp;hei=608&amp;qlt=95&amp;fit=constrain");
    justify-content: center;
    display: flex;
    gap: 4em;
    padding-bottom: 2em;
    margin-top: 3em;
    background-size: cover;
background-position: center;
height: 30em;
width: 100%;
}

.last-span{
    position: relative;
    font-size: 40px;
    font-weight: bold;
top: 3em;
left: 18em;}

.last>div{display: flex;
flex-direction: column;
align-items: center;
margin-top: 7em;
width: 23em;
height: 20em;
padding: 1em;}

.last-img{height: 70px;
width: 70px;}


.last-div{
    background-color: #fff;
    height: 20em;
    gap: 2em;
    border-radius: 20px;
}

.last-div1{font-size: 20px;
font-weight: bold;}

.last-div2{
    font-size:17px ;

}

.footer{

    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding-top: 2em;
    padding-left: 3em;
    background-color: #f4f4f6;
}

.footer>div{

    position: relative;
    padding-left: 2em;
    left:-34em;
    display: flex;
    margin-top: 6em;
    flex-direction: column;
    gap: 6em;
}

.txt1{
    font-size: 20px;
    font-weight: bold;
}


.Azure{
    color: rgb(0,0,0.6,0.4);
    font-size: 20px;
}
#options{width: 12em;

height: 3em;}

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>responsive */



/* 

    @media(min-width:1200px){

        .content{width: 135%;}

        .section4{width: 120%;}

        .section7{
            width: 130%;
            margin-left: 2em;
        }

        .bg-blue{width: 120%;}

        .car{width: 130%;}

        .logos{width: 100%;
        margin-top:1em;}

        .last{
            width: 130%;
            margin-left: 1em;
        }
    } */
    
    @media(max-width:480px)
    {
.footer{display: none;}
.section6{display: flex;
flex-direction: column;}

.logos{display: none;}

.section7{display: none}
.bg-blue{display: none;}

.get{display: none;}

        .right{display: none;}
        
        .imgs{
            flex-direction: column;}
            .section4{
                display: flex;
        justify-content: center;
    }
    body{width: 150%;}

}

@media(max-width:360px){


    .footer{display: none;}

#img{display: none;}
    .section6{display: flex;
    flex-direction: column;
align-items: center;
margin-left: 4em;
}
.section5{
margin-left: 4em;}
.section6>div{display: flex;
    gap: 5em;
flex-direction: column;}

    .car-span{width: 10em;}
.get{display: none;}
.bg-blue{display: none;}
    .car{display: flex;
        gap: 3em;
        width: fit-content;
    flex-direction: column;
align-items: center;}


 
.right{display: none;}
.section7{display: none;
    
    background-image: none;}
    .imgs{display: flex;
        left: 4em;
                zoom:250%;
    flex-direction: column;}
    

.nav{zoom: 120%;}

    
    .container{zoom: 120%;
        width: 50em;
    }

    .container>div{
        zoom: 120%;}

.sec7-img1{width: 60em;
}
}


@media(max-width:1200px){

    .footer{width: 180%;}
.right{position: relative;
    left:30em;}
    .last{width: 170%;
        display: flex;
        gap: 10em;
   margin-left: 2em;}

    .logos{width: 100%;}


    body{width: 140%;}

    .section6{margin-left: 12em;}
    .content{width: 175%;
    margin-left: 2em;}
    .section4{width: 165%;
    }

    .imgs{
        margin-left: 4em;
    }

    .section7{width: 175%;
    margin-left: 2em;}

.section5{width: 120em;}

.car{width: 140%;
margin-left: 14em;}

.bg-blue{width: 150%;}

.car>div{
    width: 100%;
}



.right{position: relative;
    
    margin-left: 50em;}
}

@media(max-width:740px){


    .car{width:250%;}

    .section7{

        width: 278%;
    }

.bg-blue{width: 190%;
}

.last{width: 270%;}

    .nav{
        display: flex;
        margin-left: 20em;
    gap: 3em;}

    .content{width:280%}
    .section4{
        width: 255%;
        margin-left: 2em;

    }
    .logos{width:200%;}

   

}









@media(max-width:170px){

    .srh-icon{display: none;}
}
